{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <h4>Sell Shares</h4>
    <form action="/sell" method="post">
        <select name="symbol" placeholder="Stock" autocomplete="off" type="text" autofocus>
            {% for item in stock %}
            <option>{{ item["stock_id"] }}</option>
            {% endfor %}
        </select>
        <input name="shares" placeholder="Shares" autocomplete="off" type="text">
        <button name="buy" type="submit">Sell</button>
    </form>

{% endblock %}
